h1, p {
  font-family: Lato;
}

ul li {
  position: relative;
  background-color: bisque;
  padding: 10px;
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.example-enter{
  opacity: 0.01;
}

.example-enter.example-enter-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave{
  opacity: 1;
}

.example-leave.example-leave-active{
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}